{% extends 'base.html' %}

<head>
  <title>Grocery Heroes Recipient Registration</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
</head>

{% block content %}
<h1> Helpee Page </h1>

<form id="registrationForm">
  <label for="fname">Phone Number:</label><br>
  <input type="text" id="phone" name="phone"><br>
  <input type="submit" value="Submit">
</form>

<script>
  window.addEventListener( "load", function () {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
          var latitude = position.coords.latitude;
          var longitude = position.coords.longitude;
          function sendRegistrationData() {
            const XHR = new XMLHttpRequest();
            const FD = new FormData( form );
            FD.append("longitude", longitude)
            FD.append("latitude", latitude)

            XHR.addEventListener( "load", function(event) {
            } );

            XHR.addEventListener( "error", function( event ) {
              alert( 'Oops! Something went wrong. :o' );
            } );

            XHR.open( "POST", "{{ url_for('main.helpee') }}" );
            XHR.send( FD );
          }
          let form = document.getElementById( "registrationForm" );
          form.addEventListener( "submit", function ( event ) {
            event.preventDefault();
            sendRegistrationData();
          } );

      }, function() {
        handleLocationError(true);
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false);
    }

    function handleLocationError(browserHasGeolocation) {
      alert(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
    }
  });
</script>

{% endblock %}
