<!DOCTYPE html>

<!-- THANK YOU TO SUPERHUMAN.COM FROM WHICH BERKELEY MERRIAGE PACT SHAMELESSLY STOLE THIS WEBSITE FROM WHICH WE'VE SHAMELESSY STOLEN THIS WEBSITE. THANK YOU IN PARTICULAR TO RAHUL VOHRA, WHO IS AN AMAZING PERSON :) -->

<html lang="en" style="scroll-behavior: smooth">
<head>
  <title>Grocery Heroes</title>
  <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='main.css')}}" rel="stylesheet">

  <style>
    #map {
      height: 100%;
    }
  </style>
</head>

  <body class="main vsc-initialized">
    <div id="navbar-container" class="update-navbar-transparent">
      <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
          <div class="row take-me-to-superhuman-section">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-offset-1 col-xs-12 col-lg-offset-4 col-lg-4 logo">
              <h2>
                <a href="{{ url_for('main.index')}}"><div style="cursor: pointer"><strong>Grocery Heroes</strong></div></a>
              </h2>
            </div>
          </div>
        </div>
      </nav>
    </div>



    <div class="container-fluid be-brilliant-with-people update-navbar-white update-navbar-show-button update-navbar-hide-take-me-to-superhuman">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-lg-offset-1 col-lg-5">
        <div class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
          <div class="separator"></div>
          <h2>
            <div>Thank you for being a Hero!</div>
          </h2>
          <br>
          <br>
          <div class="narrative">
            <p>
                1. Find someone on the map below who needs help in a convenient location for you. Mapped locations are only approximate.
            </p>
            <p>
                2. Contact the number listed. Ask: <br>
                <br>  🞄 What they need
                <br>  🞄 What their exact address is
                <br>  🞄 How they plan to reimburse you (e.g. <a href="https://www.paypal.com/us/webapps/mpp/account-selection?&gclid=EAIaIQobChMI2vq72syq6AIVSh6tBh2r2wRpEAAYASADEgK-EvD_BwE&gclsrc=aw.ds">PayPal</a> or <a href = "https://venmo.com/signup">Venmo</a>).
            </p>
            <p>
                3. If you decide to help, be sure to clear this individual's request.
            </p>
            <p>
                4. Get their groceries, drop them off on their doorstep, and get reimbursed. To prevent contamination, make sure not to open the door.
            </p>
            <p>
                5. Congrats, you’re a Hero!
            </p>
            <br>
            <br>
            <p>
              Click <a href="#map">here</a> to go to get started.
            </p>
          </div>
        </div>
      </div>

        <div class="col-sm-12 col-md-6 snooze">
          <div class="row">
              <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-8">
              <div class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <img src="{{ url_for('static', filename='imgs/yellow_flower.png') }}">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="down-arrow"></div>
    </div>

    <div class="container-fluid" style="height:1000px;">
      <!-- <div class="row-fluid" style="height:100%"> -->
        <div id="map"></div>
      <!-- </div> -->
=    </div>



    <div class="container-fluid introduction update-navbar-white update-navbar-show-button update-navbar-hide-take-me-to-superhuman">
      <div class="row">
        <div class="col-xs-12 col-lg-push-6 col-lg-offset-0 col-lg-5">
          <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-lg-offset-0 col-lg-12">
            <div class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
              <div class="separator"></div>
              <h2>
                <div>What if I can't get reimbursed?</div>
              </h2>
              <h3>
                <div></div>
              </h3>
              <div class="narrative">
                <p>If for some reason you are not being reimbursed, please simply return the groceries.
                Unfortunately, since we are just a couple of college students, we don’t have a good way of reimbursing you if you don’t get reimbursed by the individual you were shopping for.
                However, please contact us if you have issues, and we will do our best to help resolve them.</p>
              <!-- <h2>Number of people helped: 354</h2> -->
                <!-- <p>
                    1. Find someone who needs help in a convenient location for you
                </p>
                <p>
                    2. Contact the number listed. Ask: <br>
                    <br>  🞄 What they need
                    <br>  🞄 What their exact address is
                    <br>  🞄 How they plan to reimburse you (e.g. <a href="https://www.paypal.com/us/webapps/mpp/account-selection?&gclid=EAIaIQobChMI2vq72syq6AIVSh6tBh2r2wRpEAAYASADEgK-EvD_BwE&gclsrc=aw.ds">PayPal</a> or <a href = "https://venmo.com/signup">Venmo</a>).
                </p>
                <p>
                    3. If you decide to help, be sure to clear this individual's request.
                </p>
                <p>
                    4. Get their groceries and drop them off on their doorstep <em> after </em> being reimbursed. To prevent contamination, make sure not to open the door.
                </p>
                <p>
                    5. Congrats, you’re a Hero!
                </p> -->
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-pull-8 col-lg-offset-0 col-lg-5 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
          <img src="{{ url_for('static', filename='imgs/pink_flower.png') }}">
        </div>
      </div>
    </div>

    <div class="container-fluid are-you-ready update-navbar-transparent update-navbar-hide-on-desktop update-navbar-hide-take-me-to-superhuman">
      <div class="row">
        <div class="screenshot-container">
          <div class="screenshot screenshot-3">
            <div class="front"></div>
            <div class="left"></div>
            <div class="bottom"></div>
          </div>
          <div class="screenshot screenshot-2">
            <div class="front"></div>
            <div class="left"></div>
            <div class="bottom"></div>
          </div>
          <div class="screenshot screenshot-1">
            <div class="front"></div>
            <div class="left"></div>
            <div class="bottom"></div>
          </div>
        </div>
        <div class="overlay-1"></div>
        <div class="overlay-2"></div>
        <div class="col-xs-offset-1 col-xs-10">
          <h1>
            <div>Grocery <br> Heroes </div>
          </h1>
          <div data-signup-form="" class="sign-up">
            <table>
              <tbody><tr>
                <td class="button-cell">
                  <a href="{{ url_for('main.helper') }}">
                    <div data-submit="" class="button">
                      <div>Be a Hero</div>
                    </div>
                  </a>
                  <a href="{{ url_for('main.helpee') }}">
                    <div data-submit="" class="button">
                      <div>Get Help</div>
                    </div>
                  </a>
                </td>
              </tr>
            </tbody></table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-7 col-sm-4 col-lg-offset-8 col-lg-3">
          <div class="contents">
            <div class="separator"></div>
            <h3>
              <div>grocery.heroes.official<br>@gmail.com</div>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <script>
      var map, infoWindow, xmlhttp, activeMarker, helpeePhoneMap;
      // For server updates.
      if (window.XMLHttpRequest) {
         // code for modern browsers
         xmlhttp = new XMLHttpRequest();
       } else {
         // code for old IE browsers
         xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }

      // document.getElementById('maplink').addEventListener('click', function() {
      //   alert("hello world");
      //   document.getElementById('map').scrollIntoView({behavior:"smooth"});
      //
      // });

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 13
        });
        infoWindow = new google.maps.InfoWindow;
        helpeePhoneMap = new Map();

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            map.setCenter(pos);
          }, function() {
            handleLocationError(true);
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false);
        }

        infoWindow.addListener('domready', function() {
          document.getElementById("doneButton").addEventListener('click', function() {
            //cache user information
            let userphone = helpeePhoneMap.get(activeMarker);
            let userlng = activeMarker.getPosition().lng();
            let userlat = activeMarker.getPosition().lat();
            activeMarker.setMap(null);

            //update db
            let formdata = new FormData();
            formdata.append("longitude", userlng);
            formdata.append("latitude", userlat);
            xmlhttp.open("DELETE", "{{ url_for('main.helper')}}", true);
            xmlhttp.send(formdata);
          });
        });
        // Place pins on map.
        var marker;
        {% for helpee in local_helpees %}
        marker = new google.maps.Marker({
          position: {lat: {{ helpee.latitude }}, lng:{{ helpee. longitude }}},
          map: map,
          title: 'Somebody could use some help here!'
        });

        marker.addListener('click', function() {
          document.getElementById("map").scrollIntoView({behavior:'smooth'});
          map.panTo(this.getPosition());
          activeMarker = this;
          let contentString = '<div style="color:black" id="helperNotification">'+
                     '<h2>Interested in helping out?</h2>'+
                     '<p><b>Phone Number:</b> {{ helpee.phone }}<br>If this request has been '+
                      'completed: Click "Clear Request"</p>'+
                     '<button id="doneButton">Clear Request</button>'+
                     '</div>';
          infoWindow.setContent(contentString);
          infoWindow.open(map, this);
        });
        marker.setMap(map);
        helpeePhoneMap.set(marker, "{{ helpee.phone }}");
        {% endfor %}
      };

      function handleLocationError(browserHasGeolocation) {
        alert(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }


    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ gmapi_key }}&callback=initMap">
    </script>
</body>
</html>
