<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Grocery Heroes Map View</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 13
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

        // For server updates.
        var xmlhttp;
        if (window.XMLHttpRequest) {
           // code for modern browsers
           xmlhttp = new XMLHttpRequest();
         } else {
           // code for old IE browsers
           xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        var doneButtonAction = function() { return; };

        // Place pins on map.
        {% for helpee in local_helpees %}
        var marker = new google.maps.Marker({
          position: {lat: {{ helpee.latitude }}, lng:{{ helpee. longitude }}},
          map: map,
          title: 'Somebody could use some help here!'
        });

        marker.addListener('click', function() {
          map.setCenter(this.getPosition());
          let contentString = '<div id="helperNotification">'+
                     '<h1>Interested in helping out?</h1>'+
                     '<p>Call <b>{{ helpee.phone }}</b> and ask what they need! '+
                     'After confirming, be sure to click on the \'Done\' button '+
                     'to remove the recipient\'s pin from the map.</p>'+
                     '<button id="doneButton">Done</button>'+
                     '</div>';
          infoWindow.setContent(contentString);
          infoWindow.open(map, this);
          var curMarker = this;
          document.getElementById("doneButton").addEventListener("click", function() {
            curMarker.setMap(null);
            xmlhttp.open("DELETE", "{{ url_for('main.remove_request', phone=helpee.phone)}}", true);
          });
        });
        marker.setMap(map);
        {% endfor %}

      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ gmapi_key }}&callback=initMap">
    </script>
  </body>
</html>
