<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Grocery Heroes Map View</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map, infoWindow, xmlhttp, activeMarker, helpeePhoneMap;
      // For server updates.
      if (window.XMLHttpRequest) {
         // code for modern browsers
         xmlhttp = new XMLHttpRequest();
       } else {
         // code for old IE browsers
         xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 13
        });
        infoWindow = new google.maps.InfoWindow;
        helpeePhoneMap = new Map();

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            map.setCenter(pos);
          }, function() {
            handleLocationError(true);
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false);
        }

        infoWindow.addListener('domready', function() {
          document.getElementById("doneButton").addEventListener('click', function() {
            //cache user information
            let userphone = helpeePhoneMap.get(activeMarker);
            let userlng = activeMarker.getPosition().lng();
            let userlat = activeMarker.getPosition().lat();
            activeMarker.setMap(null);

            //update db
            let formdata = new FormData();
            formdata.append("longitude", userlng);
            formdata.append("latitude", userlat);
            xmlhttp.open("DELETE", "{{ url_for('main.map_view')}}", true);
            xmlhttp.send(formdata);

            // //undo
            // document.getElementById("helperNotification").innerHTML = '<h1>You\'re a hero!/h1>' +
            //           '<p>You may click "Undo" any time before closing this window.</p>' +
            //           '<button id="undoButton">Undo</button>';
            // document.getElementById("undoButton").addEventListener('click', function() {
            //
            // });
            // document.getElementById()
          });
        });
        // Place pins on map.
        var marker;
        {% for helpee in local_helpees %}
        marker = new google.maps.Marker({
          position: {lat: {{ helpee.latitude }}, lng:{{ helpee. longitude }}},
          map: map,
          title: 'Somebody could use some help here!'
        });

        marker.addListener('click', function() {
          map.panTo(this.getPosition());
          activeMarker = this;
          let contentString = '<div id="helperNotification">'+
                     '<h1>Interested in helping out?</h1>'+
                     '<p><b>Phone Number:</b> {{ helpee.phone }} If this request has been '+
                      'completed: Click "Clear Request" <--i\'ll fix this later lol.</p>'+
                     '<button id="doneButton">Clear Request</button>'+
                     '</div>';
          infoWindow.setContent(contentString);
          infoWindow.open(map, this);

        });
        marker.setMap(map);
        helpeePhoneMap.set(marker, "{{ helpee.phone }}");
        {% endfor %}
      };

      function handleLocationError(browserHasGeolocation) {
        alert(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ gmapi_key }}&callback=initMap">
    </script>
  </body>
</html>
